<h1>Welcome#info</h1>
<p>Find me in app/views/welcome/info.html.erb</p>

<div class="jumbotron"
		color; red;
		font-style: bold;>
  	<h2>Great Bands!</h2>

 <end> 

<div class = .col-md-4/>
	<img src=https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcS-t9yFx15EWKLxRchdNZd2lYygraNTAmM74MRzGGng_FP1E1ezbg title="Green Day!!">

	<img src=https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS4AIhGgIvTzuCjOazqqks8olIWAQ2lEcS0INZ0rbRaJL0EvHRi title="Whoa too close :)">

	<img src=https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcS1foMGHcQGfF2wmvmky-FPxBTYyi7aOhSu3F8n7awH6zH9al9p title="Nirvana">

	<img src=https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSW0SINHsgpaylC468usYaHm7w1dYWQwH9dRKV5QQgubqkJ9ra_ title="Led Zeppelin">

	<img src=https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTrieyHdReJN8VEvLa3WHT08xwTeq6eyjx1ajYHuXKx9SqGjOIcRA title="Bon Jovi">

	<img src=https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQngzYNzgqIBYVIzegbVaMszFBLf7wimGUJNbUWHhgg15cQCFQc title="Black Sabbath">

	<img src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCojQjWRWIiKLnyv-REdzXLD5JwHsHVYEdWNPifzhyTCCpE-tkBA title="The Boxer Rebellion">


</div>